<!--login page with a button for google oauth-->
<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
    </form>
    <hr>
    <h2>Login with Google</h2>
    <a href="{{ url_for('login_google') }}"><img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"></a>
  </body>
</html>